.login {
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 2rem;
}

.control {
  margin: 1rem 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.control label,
.control input {
  display: block;
}

.control label {
  font-weight: bold;
  flex: 1;
  color: #4f005f;
  margin-bottom: 0.5rem;
}

.control input {
  flex: 3;
  font: inherit;
  padding: 0.35rem 0.35rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.control input:focus {
  outline: none;
  border-color: #4f005f;
  background: #f6dbfc;
}

.control.invalid input {
  border-color: red;
  background: #fbdada;
}

.actions {
  text-align: center;
}.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #4f005f;;
  border: 1px solid #4f005f;;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.actions button:hover {
  background-color: white;
  color: #4f005f;;
  border-color: #4f005f;;
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: #4f005f;
  border: none;
  padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
  background-color: transparent;
  color: #4f005f;;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.75);
}
.invalid{
  color: red;
}
.invalidInput {
  width: 50%;
  border-radius: 4px;
  border: 1px solid red;
  background: #fbdada;
}
.errorMessage{
  text-align: center;
  color: red;
}
.modal {
  position: fixed;
  top: 15vh;
  left: 5%;
  width: 50%;
  background-color: #4f005f;
  padding: 1rem;
  max-height: calc(100vh - 210px);
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}
.button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  color: #4f005f;;
  border: 1px solid #4f005f;;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.button:hover,
.button:active {
  background-color: #4f005f;;
}
@media (min-width: 768px) {
  .control {
    align-items: center;
    flex-direction: row;
  }

}

